
@{
    ViewBag.Title = "Index";
}

<h2>Calculadora</h2>
<form action="~/Sumadora/Index" method="post">
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Escribe un valor" name="num1" value="" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Escribe un valor" name="num2" value="" />
    </div>
    <div class="form-group">
        <input type="type" class="form-control" placeholder="Resultado" name="name" value="@ViewBag.resultado" />
    </div>

    <button class="btn btn-success" name="Operacion" value="+">
        Sumar
    </button>
    <button class="btn btn-info" name="Operacion" value="-">
        Restar
    </button>
    <button class="btn btn-success" name="Operacion" value="x">
        Multiplicar
    </button>
    <button class="btn btn-info" name="Operacion" value="/">
        Dividir
    </button>
   
</form>



